<!DOCTYPE HTML>
<html>
	<head>
		<title>Alex Chu</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>HELLO,<br />
						MY NAME IS ALEX</h1>
						<p> I'm an aspiring <b>backend programmer</b>!<br />
						I am currently studying in University of California, Irvine, which is located in one of the most beautiful cities. <br />
						I have a very interesting background spanning from science to multilanguage. <br />
						My interest lies in improving multicultural society through the power of programming. </p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{site.baseurl}}/index/" class="logo">ALEX CHU</a>
					</header>


					{{content}}


				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
							<section>
								<h3>Email</h3>
								<p><a href="mailto:alexc8@uci.edu">alexc8[at]uci.edu</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.facebook.com/alexchu28" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.linkedin.com/in/alchucam/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/alchucam" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Alex Chu</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/smoothscroll.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>